@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i|Open+Sans:300,300i,400,400i,600,600i&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
    font-family: 'Nunito', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// ------------------------------------------------

// 300 - light | 400 - regular | 600 - medium

// dark theme
$black: #16161c;
$lightBlack: #1A1c23;
$darkGrey: #1C1E26;
$grey: #232530;
$lightGrey: #2E303E;
$white: #FDF0ED;
$darkWhite: #FADAD1;
$skinColor: #F9CBBE;
$darkPurple: #6C6F93;
$purple: #B877DB;
$brightPink: #E9436F;
$pink: #E95379;
$red: #f43e5c;
$lightGreen: #09f7a0;
$green: #27D796;
$darkBlue: #25B2BC;
$blue: #21BFC2;
$darkOrange: #FAB28E;
$orange: #FAB795;
$yellow: #FAC29A;
$fontColorDark: #f5f5f5;
$fontColorLight: #212121;

.dark {
    background: $grey;
    color: $fontColorDark;
}

.light {
    background: $white;
    color: $fontColorLight;
}

hr {}

h1 {
    font-size: 96px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 60px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-size: 34px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.subtitle-1 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.subtitle-2 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.body-1,
p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.body-2 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
}

.caption {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.overline {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
}